.search {
  margin: auto;
  width: 60%;
  height: 40px;
  border-radius: 11px;
  font-size: 20px;
  padding: 0 10px;
}

/*media query start*/
@media screen and (min-width: 410px) {
  .search {
    width: 53%;
  }
}
@media screen and (min-width: 500px) {
  .search {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  .search {
    width: 20%;
  }
}
/*media query end*/
