h1,
h2 {
  color: #278aa3;
  font-family: "Archivo", sans-serif;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nasaImage {
  max-width: 100%;
  height: auto;
  padding: 2px;
}

/*media query start*/

@media screen and (min-width: 500px) {
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
  }
  .nasaImage {
    padding: 7px;
    height: 100%;
    width: auto;
  }
}

@media screen and (min-width: 800px) {
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
  }
  .nasaImage {
    padding: 15px;
    height: 100%;
    width: auto;
  }
}
/*media query end*/
